<div class="container-fluid">
  <div class="row">
    <!-- Container containing all posts. -->
    <div class="col-md-10" style="background-color: rgb(187, 209, 243)">
      <h2>Feed</h2>
      <div *ngFor="let Post of Posts">
        <div class="feed-div feed-post row">
          <h4 class="feed-text">{{ Post.title }}</h4>
          <p class="feed-text">{{ Post.text }}</p>
        </div>
      </div>
    </div>
    <!-- Container containing all adds -->
    <div class="col-md-2" style="background-color: rgb(252, 155, 155)">
      <div *ngFor="let Add of Adds">
        <div class="feed-div feed-add row">
          <h4 class="feed-text">{{ Add.title }}</h4>
          <p class="feed-text">{{ Add.text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>