.feed-div {
    margin: 10px;
    min-height: 100px;
}

.feed-post {
    background-color: #71a2ca;  
    margin-bottom: 1em; 
}

.feed-add {
    background-color: #5fa7b4;
}

.feed-text {
    padding: 5px;
}

h4 {
    width: 100%;
}