<div id="home">
  <div class="container d-flex justify-content-center" id="floatinglogo">
    <img src="../../assets/logo-v0.1.png" width="255" height="255" class="d-inline-block align-top" alt="">
  </div>
</div>