<!-- <div class="card modal-content"> -->
<mat-vertical-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Include clothes</ng-template>
      <mat-form-field>
        <input matInput placeholder="Clothe ids" formControlName="clothesCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Give number of ad shows</ng-template>
      <mat-form-field>
        <input matInput placeholder="Number" formControlName="numberCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Ad show time span</ng-template>
      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="Startpicker" formControlName="Startpicker"
            placeholder="start date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="date-input">
          <input matInput [matDatepicker]="Endpicker" formControlName="Endpicker" placeholder="end date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Photo to acompany ad</ng-template>
      <mat-form-field>
          <input matInput style="display: none" >
        <!-- <input matInput formControlName="photoFileCtrl"> -->
        <input type="file"/>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="closeModal()">Done</button>
    </div>
  </mat-step>
</mat-vertical-stepper>

<!-- </div> -->