<!-- Image and text -->
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark shadow-sm">
  <!-- Home and logo button on the left (with text) -->
  <a class="navbar-brand" routerLink="/home">
    <img src="../../assets/logo-v0.1.png" width="35" height="35" class="d-inline-block align-top" alt="">
    eGuardaroba
  </a>
  <!-- Navbar burger menu if display is small -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Menu buttons -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-2">
        <a class="nav-link" routerLink="/clothes">Clothes <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item mr-2">
        <a class="nav-link" routerLink="/feed">Feed</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item mr-2">
        <a class="nav-link" routerLink="/wardrobe">Wardrobe</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-2">
        <a class="nav-link" routerLink="/company"><i>I_am_a_company</i></a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" href="#" (click)="openModal($event, 'Registration')">Register</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" href="#" (click)="openModal($event, 'Login')">Log in</a>
      </li>
    </ul>
  </div>
</nav>