<!-- <div class="card modal-content"> -->
<mat-vertical-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out cloth name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Cloth name" formControlName="nameCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out cloth type</ng-template>
      <mat-form-field>
        <input matInput placeholder="Cloth type" formControlName="clothTypeCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <div class="button">
      <input type="file" (change)="onFileSelected($event)">
    </div>
    <!-- <input type="text" class="form-control" placeholder="{{fileName}}" readonly> -->
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Choose a photo</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="closeModal()">Done</button>
    </div>
  </mat-step>
</mat-vertical-stepper>

<!-- </div> -->