<div class="container-fluid">
  <!-- Title -->
  <div class="justify-content-between d-flex">
    <h1>Clothes</h1>
  </div>

  <div class="row">
    <!-- First Card -->
    <div style="background-color: bisque" class="clothes-cards col-md-9">
      <!-- Search form -->
      <input class="form-control clothes-search-bar" type="text" placeholder="Search" aria-label="Search">
      <!--  Clothes -->
      <div *ngFor="let cloth of clothesArray" class="card">
        <img class="card-img-top" src="../../assets/image0.png" alt="Cloth photo.">
        <div class="card-body">
          <h5 class="card-title">{{cloth.cloth_type}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div id="clothe-option-div" class="d-flex">
        <button type="button" class="clothe-options btn btn-primary" (click)="openModal($event, 'Options')">
          Create new
        </button>
        <button type="button" class="clothe-options btn btn-primary">
          Filters
        </button>
      </div>
    </div>
    <!-- Clothes by person div -->
    <div style=" background-color: beige" class="clothes-cards col-md-2">
      <h6 style="text-align: center"> Clothes by person</h6>
      <div *ngFor="let number of [0,1,2,3,4,5,6,14,162]" class="person-card card">
        <div class="card-body">
          <img class="card-img" id="person-image" src="../../assets/person.png" alt="Card image cap">
          <a href="#" class="btn btn-link">@Username{{ number }}</a>
        </div>
      </div>
    </div>

  </div>
</div>