<!-- <div class="card modal-content"> -->
<mat-vertical-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out outfit name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Outfit name" formControlName="nameCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Make your choices</ng-template>
      <div>
        <mat-form-field>
          <!-- TODO add integration with api-->
          <!-- the matInput with display:none makes the magic. It's ugly, I've warned you -->
          <input matInput style="display: none" >
          <mat-checkbox >Use weather</mat-checkbox>
          <mat-checkbox >Use favorite clothes</mat-checkbox>
          <mat-checkbox >Take season into account</mat-checkbox>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Include clothes</ng-template>
      <mat-form-field>
        <input matInput placeholder="Clothe ids" formControlName="clothesCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="closeModal()">Done</button>
    </div>
  </mat-step>

</mat-vertical-stepper>

<!-- </div> -->