<div class="container-fluid">

  <div class="justify-content-between d-flex">
    <h1>Suitcase</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <!-- <a href="#" class="row-btn btn btn-primary">Outfits</a> -->
      <button class="row-btn btn btn-primary" (click)="openModal($event, 'Options')">Auto-generate a Suitcase </button>
      <button class="row-btn btn btn-primary" (click)="openModal($event, 'NonAutoOptions')">Manualy create a Suitcase </button>
      <div class="basic-container">
        <p>Suitcase:</p>
        <p>Items:</p>
        <p>Outfits:</p>
        <p>Tags:</p>
        <button type="button" class="tab-btn btn btn-primary">
          Change Name
        </button>
        <button type="button" class="tab-btn btn btn-primary">
          Delete Suitcase
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="basic-container">
        <div *ngFor="let number of [0,1,2,3,4,5]" class="card">
          <img class="card-img-top" src="../../assets/image{{ number }}.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title {{number}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div id="clothe-option-div" class="d-flex">
          <button type="button" class="clothe-options btn btn-primary">
            Filters
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="basic-container">
        <button *ngFor="let number of [0,1,2,3,4,5]" class="row-btn btn btn-primary">
          <a class="card-title">Suitcase{{number}}</a>
        </button>
      </div>
    </div>
  </div>
</div>