<div class="container-fluid">

  <div class="justify-content-between d-flex">
    <h1>Outfits</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <button type="button" class="row-btn btn btn-primary" (click)="openModal($event, 'Options')">
        Auto Generate Outfit
      </button>
      <button type="button" class="row-btn btn btn-primary" onClick="alert('NOT IMPLEMENTED FOR v1.0')">
          Generate outfit manualy
      </button>
    </div>


    <div class="col-md-3">
      <div class="basic-container">
        <button *ngFor="let number of [0,1,2,3,4,5]" class="row-btn btn btn-primary">
          <a class="card-title">Outfit {{number}}</a>
        </button>
       </div>
    </div>
  </div>
</div>