<div class="container-fluid">
  <div class="justify-content-between d-flex">
    <h1>Wardrobe</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a href="/suitcase" class="row-btn btn btn-primary">Suitcase</a>
      <a href="/outfits" class="row-btn btn btn-primary">Outfits</a>
      <div class="basic-container">
        <p>Wardrobe:</p>
        <p>Items:</p>
        <p>Suitcases:</p>
        <p>Outfits:</p>
        <p>Tags:</p>
        <button type="button" class="tab-btn btn btn-primary">
          Change Name
        </button>
        <button type="button" class="tab-btn btn btn-primary">
          Delete Wardrobe
        </button>
      </div>
    </div>
    <div class="col-md-9" value="All">
      <button type="button" class="tab-btn btn btn-primary">
        All
      </button>
      <button type="button" class="tab-btn btn btn-primary">
        Wardrobe1
      </button>
      <button type="button" class="tab-btn btn btn-primary">
        Wardrobe2
      </button>
      <button type="button" class="tab-btn btn btn-primary">
        +
      </button>
      <div class="basic-container">
        <div *ngFor="let number of [0,1,2,3,4,5]" class="card">
          <img class="card-img-top" src="../../assets/image{{ number }}.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title {{number}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div id="clothe-option-div" class="d-flex">
          <button type="button" class="clothe-options btn btn-primary">
            Filters
          </button>
        </div>
      </div>
    </div>
  </div>
</div>