/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: grey;
}

.card{
    background-color: #bbbbbb;
 }

.basic-container {
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0px;
    padding: 20px;
    border-radius: 10px;
}

.secondary-container {
    height: 100%;
    width: 100%;
    background-color: rgb(104, 90, 90);
    margin: 10px;
    padding: 0px;
    border-radius: 10px;
}

.row-btn {
    width: 100%;
    display: block;
    margin: 0px 0px 10px 0px;
}

.tab-btn{
    margin: 0px 5px 0px 10px;
}

.user-credentials-input {
    background-color: #37474f;
    max-width: 100%;
    border-radius:1.5em;
    border:none;
    box-shadow: 0 0 4px rgba(33,33,33,.2);
}

.form-group {
    margin-bottom: 2em;
}

#warning {
    border: none;
    margin-top: 1em;
    border-radius: 1.5em;
    padding: .5em;
}

#danger {
  border: none;
  margin-top: 1em;
  border-radius: 1.5em;
  padding: .5em;
}

#registerCard:hover {
    box-shadow: 0 0 22px rgba(33,33,33,.2); 
}

#registerCard {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    margin-top: 8em;
    border: none;
    transition: box-shadow .3s;
}

   
::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}
 
::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}
 
:-ms-input-placeholder {  
    text-align: center; 
}

//-------------

img {
    max-height: 15rem;
    max-width: 100%;
}

.container {
    width: 90%;
}

.card {
    display:inline-block;
    margin: 10px;
    max-width: 15rem;
}

.clothes-search-bar-div {
    margin: 10px;
}

.clothes-search-bar {
    max-width: 30%;
    margin-top: 15px;
    border-radius: 1em;
}

.clothes-cards {
    height: 100%;
    margin: 0 1% 1% 1%;
    border-radius: 1em;
}
.clothe-options {
    margin-right: 15px;
}

#clothe-option-div {
    height: 2.5rem;
    width: 100%;
    margin-bottom: 10px;
    @media (max-width: 767.98px) {
        justify-content: center;
    }
    justify-content: flex-end;
}

.person-card {
    width: 100%;
    
    .card-body {
        padding: 1px;
    }

    .btn {
        margin-left: 3px;
        // width: 70%;
        // border-radius: 1em;
    }
}

#person-image {
    max-height: 3rem;
    max-width: 3rem;
}