<!-- <div class="card modal-content"> -->
    <mat-vertical-stepper #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out e-valitsa name</ng-template>
            <mat-form-field>
              <input matInput placeholder="E-valitsa name" formControlName="nameCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Include clothes</ng-template>
            <mat-form-field>
              <input matInput placeholder="Clothe ids" formControlName="clothesCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>E-valitsa use time span</ng-template>
            <div>
              <mat-form-field>
                <input matInput [matDatepicker]="Startpicker" formControlName="Startpicker"
                  placeholder="E-valitsa start date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="date-input">
                <input matInput [matDatepicker]="Endpicker" formControlName="Endpicker" placeholder="E-valitsa end date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="closeModal()">Done</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
      
      <!-- </div> -->