<div class="card modal-content">
  <div class="modal-header d-flex justify-content-center">
    <h1 class="modal-title">Login modal.</h1>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden=" true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="container d-flex justify-content-center">
      <form>
        <!-- Username Field -->
        <div class="form-group text-center">
          <label for="usernameBootField">Username</label>
          <input type="text" class="user-credentials-input form-control col-lg-5 mx-auto" id="usernameBootField"
            placeholder="Enter a valid username here" formControlName="username">

        </div>
        <!-- Password Field -->
        <div class="form-group text-center">
          <label for="passwordBootField">Password</label>
          <input type="password" class="user-credentials-input form-control col-lg-5 mx-auto" id="passwordBootField"
            placeholder="Enter a valid password here" formControlName="password">
        </div>

      </form>
    </div>

    <div class="modal-footer d-flex justify-content-center">
      <!-- Submit Button -->
      <button type="submit" class="btn btn-light">Submit</button>
    </div>
  </div>