label {
   color: #37474f;
}

h1 {
   color: #263238; 
}

hr {
   background-color: #445964;
}

.btn {
   border-radius: 2em;
   color: #263238;
   padding: .45em;
   padding-left:2em;
   padding-right:2em;
}

