<div class="container-fluid">
    <div class="justify-content-between d-flex">
      <h1>Company (This is here in order to demo a use case)</h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <a class="row-btn btn btn-primary" (click)="openModal($event, 'Options')">Advertise</a>
      </div>
    </div>
  </div>